@font-face {
	font-family: 'Geometria';
  font-style: normal;
	font-weight: normal;
  src: local('Geometria');
	src: url('../fonts/Geometria.eot'),	
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');	
}
