* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

html{
  scroll-behavior: smooth;
}

.testDesktop {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-1440px / 2);
  z-index: 5;
  opacity: 0.5;
}
.testTablet {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-768px / 2);
  z-index: 5;
  opacity: 0.5;
}
