.background {
  background-color: #fcf8fe;
  background-image: url(../img/bg-header.png), url(../img/bg-directions.png),
  url(../img/bg-cards.png), url(../img/bg-team-left.png), url(../img/bg-team-right.png);
  background-repeat: no-repeat;
  background-position: 50% 0, 50% 29%, 50% 57%, 0 95%, 92% 73%;
  background-size: 100%, auto, 100%, auto, auto;  
}