.chapter {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__number {
    display: block;
    color: rgba(#aea4c8, 0.5);
    @include font(30px, 30px, bold);
    margin-right: 10px;    
  }

  &__line {
    display: block;
    width: 55px;
    height: 1px;
    background-color: rgba($head-txt, 0.73);
  }
}