.comments {
  padding: 60px 30px 140px 30px;

  @include tablet {
    padding-left: 100px;
    padding-right: 80px;
  }

  &-wrapper {
    @include tablet {
      flex-direction: column;
    }
  }
  
  &-box {
    padding: 28px 95px 30px 87px;
    background-color: $bg-main;
    box-shadow: $bg-shadow;

    @include tablet {
      padding-right: 65px;
    }

    &:first-child {
      margin-right: 20px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 18px;
      }
    }
  }

  &__symbol {
    margin-bottom: 15px;
  }

  &__img {
    color: rgba($main-txt, 0.39);
  }
  
  &__person-img {
    object-fit: cover;
    height: 52px;
    width: 52px;
  }

  &__text {
    display: block;
    @include font(12px, 20px);
    color: $main-txt;

    &--plus {
      margin-bottom: 22px;
      padding-right: 45px;
    }
  }

  &-person {
    display: flex;
    justify-content: flex-start;
  }

  &-person-info {
    margin-left: 13px;

    .links-web {
      justify-content: flex-start;
    }
  }

  &__name {
    display: block;
    @include font(12px, 17px);
    color: rgba($mark-txt, 0.7);
  }

  &__date {
    display: block;
    @include font(10px, 16px);
    color: rgba($main-txt, 0.7);
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 17px;
    width: 45px;
    height: 30px;
    position: absolute;
    top: calc(50% - 22px);
    right: -25px;

    &-prev {
      left: -25px;
    }

    .arrow-left, .arrow-right {
      color: $bg-main;
    }

    .arrow-left {
      transform: rotate(180deg);
    }

    @include tablet {
      display: none;
    }
  }

  .comments-btn-tablet {
    margin: 0 auto;
    margin-top: 40px;
    display: none;

    .team-pages {
      margin: 0 auto;

      .team-pages__text {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    @include tablet {
      display: block;
    }
  }

}