.direction {
  padding-left: 10px;
  padding-right: 40px;

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile {
    flex-direction: column;
  }
  
  .relative {
    display: block;
  }
     
  &-info {
    padding: 40px 46px 24px;
    background-color: $bg-main;
    box-shadow: $bg-shadow;
    flex-grow: 1;

    @include tablet {
      padding: 10px 20px;
    }

    @include mobile {
      padding: 10px 20px;
    }
  }

  &__btn {
    padding: 28px;

    @include tablet {
      padding: 19px;
    }

    @include mobile {
      padding: 17px;
    }

    &--small {
      padding: 9px 18px;
      width: 45px;
      height: 30px;
      position: absolute;
      bottom: 35px;
      right: 35px;

      @include tablet {
        padding: 6px 12px;
        width: 30px;
        height: 20px;
        bottom: 24px;
        right: 24px;
      }

      @include mobile {
        padding: 17px;
        width: auto;
        height: auto;
        position: static;
      }
    }
  }

  .arrow-right {
    color: $bg-main;
  }

  &-left {
    @include mobile {
      margin-bottom: 30px;
    }    
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .direction-info {
      padding: 30px 100px 30px 33px;

      @include tablet1100 {
        padding: 20px 70px 16px 20px;
      }

      @include tablet850 {
        padding-right: 50px;
      }

      @include tablet {
        padding: 16px 40px 16px 20px;
      }

      @include mobile {
        padding: 10px 20px;
      }
    }

    .direction-flex:nth-child(2) {
      @include mobile {
        margin-bottom: 0;
      }

    }

    .wrapper {
      @include mobile {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-flex {
    display: flex;

    @include mobile {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__more {
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    background-color: $bg-main;
    box-shadow: $bg-shadow;

    @include tablet {
      font-size: 10px;
      padding: 9px;
    }

    @include mobile {
      display: none;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
  }
}