.direction {
  padding-left: 10px;
  padding-right: 40px;

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
  
  .relative {
    display: block;
  }
     
  &-info {
    padding: 42px 46px 26px;
    background-color: $bg-main;
    box-shadow: $bg-shadow;
    flex-grow: 1;

    @include tablet {
      padding: 10px 20px;
    }
  }

  &__btn {
    padding: 28px;

    @include tablet {
      padding: 19px;
    }

    &--small {
      padding: 9px 18px;
      width: 45px;
      height: 30px;
      position: absolute;
      bottom: 35px;
      right: 35px;

      @include tablet {
        padding: 6px 12px;
        width: 30px;
        height: 20px;
        bottom: 24px;
        right: 24px;
      }
    }
  }

  .arrow-right {
    color: $bg-main;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .direction-info {
      padding: 33px 100px 34px 33px;

      @include tablet {
        padding: 20px 40px 20px 20px;
      }
    }
  }

  &-flex {
    display: flex;
  }

  &__more {
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    background-color: $bg-main;
    box-shadow: $bg-shadow;

    @include tablet {
      font-size: 10px;
      padding: 9px;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
  }
}