.nav {
  font-size: 16px;

  &__burger {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    display: block;
  }

  &__line {
    display: block;
    width: 24px;
    height: 1px;
    background-color: $main-txt;
    margin-bottom: 5px;

    &:last-child {
      width: 15px;
      margin-bottom: 0;
    }
  }

  &__text {
    font-family: $font-text;
    display: block;
    color: $head-txt;
    margin-left: 12px;
    font-size: 16px;

    @include tablet {
      font-size: 12px;
      margin-left: 6px;
    }
  }
}