.team {
  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-wrapper {
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }    
  }

  &-box-left, &-box-right {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }

  &-box-left {
    padding-right: 50px;

    @include tablet {
      padding-right: 40px;
    }

    @include mobile {
      padding-right: 0;
    }
  }

  &-person {
    min-height: 160px;
    position: relative;
    margin-bottom: 33px;

    @include tablet {
      min-height: 105px;
      margin-bottom: 20px;
    }

    @include mobile {
      min-height: auto;
      position: static;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      background-color: $bg-main;
 
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &-person-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    @include mobile {
      position: static;
    }
  }

  &-info-box {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $bg-main;
    padding: 19px 25px 17px 140px;
    box-shadow: $bg-shadow;
    display: flex;
    justify-content: flex-end;

    @include tablet {
      padding: 10px 10px 10px 80px;
    }

    @include mobile {
      position: static;
      padding: 18px 20px 12px 10px;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &-info-text {
    margin-right: 88px;

    @include tablet {
      margin-right: 30px;
    }

    @include mobile {
      margin-right: 15px;
    }
  }

  &__name, &__less {
    @include font(12px, 20px);
    color: $mark-txt;
    display: block;

    @include tablet {
      @include font(10px, 15px);
    }
  }

  &__less {
    color: $main-txt;
    margin-top: 9px;

    @include tablet {
      margin-top: 6px;
    }

    @include mobile {
      margin-top: 7px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .links-web {
      @include mobile {
        flex-direction: column;
      }      
    }
  }

  &__link-more {
    @include font(12px, 20px);
    color: $main-txt;
    text-decoration: underline;
    min-height: 25px;

    @include tablet {
      @include font(10px, 20px);
    }

    @include mobile {
      display: none;
    }
  }

  &__experience {
    @include font(14px, 20px);
    color: $mark-txt;
    margin-bottom: 24px;
    display: block;

    @include tablet {
      @include font(12px, 20px);
      margin-bottom: 15px;
    }

    @include mobile {
      @include font(10px, 20px);
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__description {
    @include font(12px, 20px);
    color: $main-txt;

    @include tablet {
      @include font(10px, 15px);
    }

    @include mobile {
      line-height: 13px;
    }
  }

  .pages {
    position: relative;
    padding-bottom: 40px;

    @include tablet {
      padding-bottom: 25px;
    }
      
    &__text {
      position: absolute;
      bottom: 0;
      left: 35%;
      color: $main-txt;
      @include font(16px, 30px);

      @include tablet {
        @include font(10px, 20px);
      }

      @include mobile {
        display: none;
      }
    }

    &__scroll {
      position: absolute;
      bottom: 0;
      left: 40%;
      padding: 9px 18px;
      width: 45px;
      height: 30px;

      @include tablet {
        padding: 5px 12px;
        width: 30px;
        height: 20px;
      }

      @include mobile {
        padding: 12px 6px;
        width: 16px;
        height: 32px;
        bottom: auto;
        left: auto;
        top: 7%;
        right: -25px;
      }

      &--left {
        position: absolute;
        bottom: 0;
        left: 28%;
        background-color: #fcf8fe;
        padding: 8px 17px;
        border: 1px solid $main-txt;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
          padding: 4px 11px;
          width: 30px;
          height: 20px;
        }

        @include mobile {
          margin-right: 100%;
          padding: 11px 5px;
          width: 16px;
          height: 32px;
          bottom: auto;
          top: 7%;
          left: -25px;
        }
      }
    }
    
    .arrow-right {
      color: $bg-main;
    }

    .arrow-left {
      color: $main-txt;
      transform: rotate(180deg);
    }
  }

  &__photo {
    object-fit: cover;
  }
}