.title {
  color: $main-txt;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;

  @include tablet {
    font-size: 21px;
    margin-bottom: 35px;
    margin-top: 15px;
  }

  @include mobile {
    @include font(18px, 18px, bold);
    margin-top: 10px;
    margin-bottom: 35px;
  }

  &-sm {
    font-size: 16px;
    margin: 0;
    text-align: start;

    @include tablet {
      @include font(12px, 15px, bold);
    }
  }

  &-dates {
    margin-bottom: 50px;
    margin-top: 20px;

    @include tablet {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    @include mobile {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &-cards {
    @include font(18px, 20px, bold);
    margin: 0;

    @include mobile {
      @include font(16px, 20px, bold);
    }
  }

  &-person {
    margin-top: 25px;
    margin-bottom: 55px;

    @include tablet {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    @include mobile {
      margin-top: 0;
      margin-bottom: 35px;
    }
  }
  
  &-team {
    @include font(18px, 20px, bold);
    margin-bottom: 11px;
    margin-top: 55px;
    text-align: start;

    @include tablet {
      @include font(16px, 20px,bold);
      margin-top: 35px;
      margin-bottom: 5px;
    }

    @include mobile {
      display: none;
    }
  }

  &-comments {
    @include tablet {
      margin-top: 10px;
      margin-bottom: 35px;
    }

    @include mobile {
      margin-top: 0;
    }
  }
}
